---
- name: "copy artifact into the server"
  become: true
  copy:
    src: files/artifact.tar.gz
    dest: ~/

- name: extract zipped artifact and install dependancies
  become: true
  shell: |
    tar -xvzf ~/artifact.tar.gz

- name: Start Modules
  become: true
  shell: | 
    npm install
    sudo pm2 stop default
    sudo pm2 start npm -- start

  # environment:
  #   ENVIRONMENT: production
  #   TYPEORM_CONNECTION: "{{ lookup('env', 'TYPEORM_CONNECTION')}}"
  #   TYPEORM_ENTITIES: "{{ lookup('env', 'TYPEORM_ENTITIES')}}"
  #   TYPEORM_HOST: "{{ lookup('env', 'TYPEORM_HOST')}}"
  #   TYPEORM_PORT: 5432
  #   TYPEORM_USERNAME: "{{ lookup('env', 'TYPEORM_USERNAME')}}"
  #   TYPEORM_PASSWORD: "{{ lookup('env', 'TYPEORM_PASSWORD')}}"
  #   TYPEORM_DATABASE: "{{ lookup('env', 'TYPEORM_DATABASE')}}"
  #   TYPEORM_MIGRATIONS: "{{ lookup('env', 'TYPEORM_MIGRATIONS')}}"
  #   TYPEORM_MIGRATIONS_DIR: "{{ lookup('env', 'TYPEORM_MIGRATIONS_DIR')}}"
